# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [
    worker.Worker("example-worker", "passvvord"),
    worker.Worker("raspi4-worker", "passvvord"),
]

####### CODEBASES

grendRepo     = "git://github.com/grend3d/grend.git" 
landscapeRepo = "git://github.com/grend3d/landscape-demo.git" 
#grendRepo     = "http://10.0.1.4:3000/grend3d/grend.git" 
#landscapeRepo = "http://10.0.1.4:3000/grend3d/landscape-demo.git" 

all_repositories = {
    grendRepo     : "grend",
    landscapeRepo : "landscape-demo",
}

def codebaseGenerator(chdict):
    ret = all_repositories[chdict["repository"]]
    print(str(ret))
    return ret;

c['codebaseGenerator'] = codebaseGenerator

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot version of a python hello-world project.

c['change_source'] = []
c['change_source'].append(
    changes.GitPoller(
        grendRepo,
        workdir='gitpoller-workdir',
        branch='master',
        project='grend',
        pollInterval=300
    ))

c['change_source'].append(
    changes.GitPoller(
        landscapeRepo,
        workdir='gitpoller-workdir',
        branch='main',
        project='landscape-demo',
        pollInterval=300
    ))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

allBuilders = [
    "build-grend-linux",
    "build-grend-raspi",
    "build-demo-linux",
    "build-demo-raspi",
]
c['schedulers'] = []
c['schedulers'].append(
    schedulers.SingleBranchScheduler(
        name="all",
        change_filter=util.ChangeFilter(branch='master'),
        treeStableTimer=None,
        builderNames=allBuilders,
        codebases=["grend", "landscape-demo"]
    ))

c['schedulers'].append(
    schedulers.ForceScheduler(
        name="force",
        builderNames=allBuilders,
        codebases=["grend", "landscape-demo"]
    ))

from buildbot.scheduler import Try_Userpass
c['schedulers'].append(
    Try_Userpass(
        name="try",
        builderNames=allBuilders,
        port=5555,
        userpass=[("sampleuser", "samplepass")],
        codebases=["grend", "landscape-demo"]
    ))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

libFactory = util.BuildFactory()
# check out the source
libFactory.addStep(
    steps.Git(
        name="Checkout grend",
        codebase="grend",
        workdir="grend-master",

        mode='incremental',
        repourl=grendRepo,
        branch="master",
        submodules=True,
    ))

# run the tests (note that this will require that 'trial' is installed)
#libFactory.addStep(steps.ShellCommand(command=["trial", "hello"],
#                                   env={"PYTHONPATH": "."}))
libFactory.addStep(
    steps.CMake(
        generator="Unix Makefiles",
        definitions={
            #"CMAKE_BUILD_TYPE": Property('BUILD_TYPE')
            "CMAKE_INSTALL_PREFIX": "/tmp/grendbuild-lib/",
        },
        options=[],

        workdir="grend-master",
    ))

libFactory.addStep(
    steps.Compile(
        command=["make"],

        workdir="grend-master",
    ))

libFactory.addStep(
    steps.ShellCommand(
        command=["make", "install"],

        workdir="grend-master",
    ))

demoFactory = util.BuildFactory()
# check out the source
demoFactory.addStep(
    steps.Git(
        name="Checkout grend",

        mode='incremental',
        repourl=grendRepo,
        branch="master",
        submodules=True,

        codebase="grend",
        workdir="grend-master",
    ))

demoFactory.addStep(
    steps.CMake(
        generator="Unix Makefiles",
        definitions={
            #"CMAKE_BUILD_TYPE": Property('BUILD_TYPE')
            "CMAKE_INSTALL_PREFIX": "/tmp/grendbuild-demo/",
        },
        options=[],
        workdir="grend-master",
    ))

demoFactory.addStep(
    steps.Compile(
        command=["make"],

        workdir="grend-master",
    ))

demoFactory.addStep(
    steps.ShellCommand(
        command=["make", "install"],
        workdir="grend-master",
    ))

# check out the source
demoFactory.addStep(
    steps.Git(
        name = "Checkout landscape-demo",

        mode='incremental',
        repourl=landscapeRepo,
        branch="main",
        submodules=True,

        codebase="landscape-demo",
        workdir = "landscape-demo-main",
    ))

demoFactory.addStep(
    steps.SetProperty(
        property="PKG_CONFIG_PATH",
        value="/tmp/grendbuild-demo/lib/pkgconfig",

        workdir = "landscape-demo-main",
    ))

demoFactory.addStep(
    steps.SetProperty(
        property="SomeProperty",
        value=util.Interpolate("sch=%(prop:scheduler)s, worker=%(prop:workername)s"),

        workdir = "landscape-demo-main",
    ))

demoFactory.addStep(
    steps.CMake(
        generator="Unix Makefiles",
        definitions={
            #"CMAKE_BUILD_TYPE": Property('BUILD_TYPE')
            "CMAKE_INSTALL_PREFIX": "/tmp/demobuild/",
        },
        options=[],
        env={"PKG_CONFIG_PATH": "/tmp/grendbuild-demo/lib/pkgconfig"},

        workdir = "landscape-demo-main",
    ))

demoFactory.addStep(
    steps.ShellCommand(
        command=["make"],
        workdir = "landscape-demo-main",
    ))

demoFactory.addStep(
    steps.ShellCommand(
        command=["make", "install"],
        workdir = "landscape-demo-main",
    ))

c['builders'] = []
c['builders'].append(
    util.BuilderConfig(
        name="build-grend-linux",
        workernames=["example-worker"],
        factory=libFactory
    ))

c['builders'].append(
    util.BuilderConfig(
        name="build-grend-raspi",
        workernames=["raspi4-worker"],
        factory=libFactory
    ))

c['builders'].append(
    util.BuilderConfig(
        name="build-demo-linux",
        workernames=["example-worker"],
        factory=demoFactory
    ))

c['builders'].append(
    util.BuilderConfig(
        name="build-demo-raspi",
        workernames=["raspi4-worker"],
        factory=demoFactory
    ))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Grend CI"
c['titleURL'] = "https://github.com/grend3d"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

#c['buildbotURL'] = "http://localhost:8010/"
c['buildbotURL'] = "http://10.0.1.9:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.
    # It's easy to start with sqlite, but it's recommended to switch to a dedicated
    # database, such as PostgreSQL or MySQL, for use in production environments.
    # http://docs.buildbot.net/current/manual/configuration/global.html#database-specification
    'db_url' : "sqlite:///state.sqlite",
}
